.h8 {
  font-size: 18px; }

.h7 {
  font-size: 20px; }

.h6 {
  font-size: 22px; }

.h5 {
  font-size: 24px; }

.h4 {
  font-size: 26px; }

.h3 {
  font-size: 28px; }

.h2 {
  font-size: 30px; }

.h1 {
  font-size: 32px; }

@media (min-width: 350px) {
  .column-xs-1 {
    width: 8.33333%; }

  .column-xs-2 {
    width: 16.66667%; }

  .column-xs-3 {
    width: 25%; }

  .column-xs-4 {
    width: 33.33333%; }

  .column-xs-5 {
    width: 41.66667%; }

  .column-xs-6 {
    width: 50%; }

  .column-xs-7 {
    width: 58.33333%; }

  .column-xs-8 {
    width: 66.66667%; }

  .column-xs-9 {
    width: 75%; }

  .column-xs-10 {
    width: 83.33333%; }

  .column-xs-11 {
    width: 91.66667%; }

  .column-xs-12 {
    width: 100%; } }
@media (min-width: 550px) {
  .column-sm-1 {
    width: 8.33333%; }

  .column-sm-2 {
    width: 16.66667%; }

  .column-sm-3 {
    width: 25%; }

  .column-sm-4 {
    width: 33.33333%; }

  .column-sm-5 {
    width: 41.66667%; }

  .column-sm-6 {
    width: 50%; }

  .column-sm-7 {
    width: 58.33333%; }

  .column-sm-8 {
    width: 66.66667%; }

  .column-sm-9 {
    width: 75%; }

  .column-sm-10 {
    width: 83.33333%; }

  .column-sm-11 {
    width: 91.66667%; }

  .column-sm-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .column-md-1 {
    width: 8.33333%; }

  .column-md-2 {
    width: 16.66667%; }

  .column-md-3 {
    width: 25%; }

  .column-md-4 {
    width: 33.33333%; }

  .column-md-5 {
    width: 41.66667%; }

  .column-md-6 {
    width: 50%; }

  .column-md-7 {
    width: 58.33333%; }

  .column-md-8 {
    width: 66.66667%; }

  .column-md-9 {
    width: 75%; }

  .column-md-10 {
    width: 83.33333%; }

  .column-md-11 {
    width: 91.66667%; }

  .column-md-12 {
    width: 100%; } }
@media (min-width: 992px) {
  .column-lg-1 {
    width: 8.33333%; }

  .column-lg-2 {
    width: 16.66667%; }

  .column-lg-3 {
    width: 25%; }

  .column-lg-4 {
    width: 33.33333%; }

  .column-lg-5 {
    width: 41.66667%; }

  .column-lg-6 {
    width: 50%; }

  .column-lg-7 {
    width: 58.33333%; }

  .column-lg-8 {
    width: 66.66667%; }

  .column-lg-9 {
    width: 75%; }

  .column-lg-10 {
    width: 83.33333%; }

  .column-lg-11 {
    width: 91.66667%; }

  .column-lg-12 {
    width: 100%; } }
@media (min-width: 1200px) {
  .column-xl-1 {
    width: 8.33333%; }

  .column-xl-2 {
    width: 16.66667%; }

  .column-xl-3 {
    width: 25%; }

  .column-xl-4 {
    width: 33.33333%; }

  .column-xl-5 {
    width: 41.66667%; }

  .column-xl-6 {
    width: 50%; }

  .column-xl-7 {
    width: 58.33333%; }

  .column-xl-8 {
    width: 66.66667%; }

  .column-xl-9 {
    width: 75%; }

  .column-xl-10 {
    width: 83.33333%; }

  .column-xl-11 {
    width: 91.66667%; }

  .column-xl-12 {
    width: 100%; } }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Product Sans", sans-serif;
  color: #424242;
  font-weight: 400;
  margin: 20px 0; }

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #414549; }

.tag {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #5f6368; }

.center-block {
  margin: 0 auto; }

hr {
  width: 100%;
  background-color: #4285F4;
  border: none;
  height: 4px;
  padding: 0 10px;
  margin-bottom: 10px; }

.uppercase {
  text-transform: uppercase; }

.margin-b-20 {
  margin-bottom: 20px; }

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

.row {
  width: 100%;
  margin-right: -10px;
  clear: both; }

.img--resposive {
  width: 100%;
  height: 100%; }

header {
  padding: 4rem 0 0; }
  header .logo {
    height: 3.5rem;
    background-image: url("https://design.google/images/logo-tall.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    header .logo__search {
      position: absolute;
      top: 0;
      right: 48px; }
  header nav {
    padding: 25px 0; }
    header nav ul {
      list-style: none;
      font-family: "Roboto", sans-serif;
      color: #414549;
      font-weight: 600;
      font-size: 14px; }
      header nav ul li {
        margin: 0 20px; }

.intro {
  padding-top: 90px; }

/*# sourceMappingURL=main.css.map */
