@import "colors";
@import "fonts";
@import "resolutions";

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  color: $titleGris;
  font-weight: 400;
  margin: 20px 0;
}

p {
  font-family: $font-base;
  line-height: $line-height;
  color: $textGris;
}
.tag {
  font-family: $font-base;
  line-height: $line-height;
  color: $tagGrisClaro;
}

.center-block {
  margin: 0 auto;
}

hr {
  width: 100%;
  background-color: $bg-blue;
  border: none;
  height: 4px;
  padding: 0 $padding-base;
  margin-bottom: $padding-base;
}

.uppercase {
  text-transform: uppercase;
}

%margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-20 {
  margin-bottom: 20px;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0 $padding-base;
  margin: 0 auto;
}

.row {
  width: 100%;
  margin-right: -$padding-base;
  clear: both;
}
.img--resposive {
  width: 100%;
  height: 100%;
}
header {
  padding: 4rem 0 0;
  .logo{
    height: 3.5rem;
    background-image: url("https://design.google/images/logo-tall.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    &__search {
      position: absolute;
      top: 0;
      right: 48px;

    }
  }
  nav {
    padding: 25px 0;
    ul {
      @extend %flex-center;
      list-style: none;
      font-family: $font-base;
      color: $textGris;
      font-weight: 600;
      font-size: 14px;
      & li {
        margin: 0 20px;
      }
    }
  }

}

.intro {
  padding-top: 90px;

}
